@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-color{
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.bg-1{
    flex: 1;
    background-color: rgb(255, 187, 0);
}

.bg-2{
    flex: 1;
    background-color: rgb(228, 172, 18);
}
.about-container{
    width: 85%;
    min-height: 80vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 24px 24px 30px black;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
}
.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.text-container h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    padding: 10px 0px;
}
.text-container p{
    font-size: 25px;
    padding: 10px 0px;
    font-family: 'Roboto', sans-serif;
}
.text-container a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 12px;
    border: 2px solid rebeccapurple;
    margin-top: 30px;
    background-color: rebeccapurple;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.text-container a:hover{
    background-color: transparent;
    color: rebeccapurple;
    border: 2px solid rebeccapurple;
}

@media screen and (max-width:1600px) {
    .about-container{
        width: 90%;
    }
    .image-container img{
        width: 400px;
        height: 400px;
    }
    .text-container h1{
        font-size: 40px;
    }
    .text-container p{
        font-size: 20px;
    }
}
@media screen and (max-width: 1100px) {
    .about-container{
        flex-direction: column;
    }
    .text-container{
        align-items: center;
    }
}
@media screen and (max-width: 550px) {
    .image-container img{
        width: 300px;
        height: 300px;
    }
    .text-container p{
        font-size: 20px;
    }
    .text-container h1{
        font-size: 30px;
    }
}